body{
	background: rgba(10, 102, 13, 0.44);
	margin: 5% auto;
	width: 100%;
	display: grid;
	justify-content: center;
}

header{
	background-image: linear-gradient(35deg, 
		rgba(10, 190, 20, 0.3) 10%, 
		blue 10%,
		blue 85%,
		rgba(10, 190, 20, 0.3) 85%);
}

.jumbotron{
	width: 80vmax;
	border-radius: 40px;
	background: rgba(10, 20, 100, 0.3);
}
#img-div{
	width: 100%;
	text-align: center;
}

#image{
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

#title{
	text-align: center;
	font-size: 50px;
	width: 100%;
	background-image: linear-gradient(rgba(10, 100, 10, 0.2), #10fcea) 
}

#img-caption{
	text-align: center;
}


@media (max-width: 800px){
	#title{
		font-size: 30px;
	}
}