body{
	background: rgba(19, 217, 235, 0.44);
	margin: 5% auto;
	width: 100%;
	display: grid;
	justify-content: center;
	font-size: 20px;
}

header{
	position: relative;
	top: -35px;
	background-image: linear-gradient(90deg, 
		rgba(47, 157, 161, 0.01) 10%, 
		coral 10%,
		coral 90%,
		rgba(47, 157, 161, 0.01) 90%);
}

footer{
	text-align: center;
	padding: 20px;
	/*margin: 10px;*/
	background-color: coral;
	border-radius: 0 0 40px 40px;
}

.jumbotron{
	margin: 0;
	padding: 0;
	width: 80vw;
	border-radius: 40px;
	background: rgba(47, 157, 161, 0.44);
}
#img-div{
	width: 100%;
	text-align: center;
}

#image{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	border-radius: 10px;
}

#img-caption{
	position: relative;
	bottom: 15px;
}
#main{
	position: relative;
	max-width: 100%;
	margin: 0 4%;
	text-align: justify;
}

#tribute-info{
	text-align: center;
}

#title{
	text-align: center;
	font-size: 50px;
	background-image: linear-gradient(rgba(10, 102, 13, 0.44), #10fcea);
	border-radius: 40px 40px 0 0;

}

#img-caption{
	text-align: center;
}


@media (max-width: 800px){
	body{
		font-size: 20px;
	}

	#title{
		font-size: 30px;
		/*font-style: oblique;*/
		border-radius: 40px 40px 0 0;
		background: coral;
		/*height: 50px;*/
		padding: 3% 0;
	}

	header{
		background: rgba(47, 157, 161, 0.01);
		top: -25px;
		/*bottom: 0;*/
	}
}